main {
  min-height: 500px;
}

#section-banner {
  min-height: 400px;
}

#section-banner img {
  height: 500px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: auto;
}

mat-grid-list {
  margin: 10px -10px;
}

mat-grid-tile {
  padding: 2px;
  border-radius: 30px;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
}

mat-card-actions p {
  color: red;
  font-size: 30px;
}

mat-card img {
  padding: 50px;
  height: 300px;
  width: 300px;
}

.text-just {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}

mat-card-title {
  font-family: sans-serif;
  font-size: 30px;
  padding: 10px;
  margin: 5px;
}
.card-image {
  margin: 0 auto;
  width: 500px;
}

.efeito-descr {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}
.efeito-descr:hover {
  box-sizing: border-box;
  box-shadow: grey;
  -webkit-transform: scale(1.3);
}
.efeito-card {
  transition: all 0.5s;
  border: 10px solid #eeeeee;
  border-radius: 50%;
}

.efeito-card:hover {
  border: 10px solid #781f40;
  border-radius: 10%;
  -webkit-filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, 0.5));
  -webkit-transform: rotateZ(-360deg) scale(1.1);
  transform: rotateZ(-360deg) scale(1.1);
}
#size-icon {
  width: auto;
  height: auto;
  position: fixed;
  top: 68px;
  left:160px;
}
@media screen and (max-width: 1205px) {
  #size-icon {
   opacity: 0;
  }
  mat-grid-list{
    columns: auto;
  }
}
